@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1920px;
  font-family: "Work Sans", sans-serif;
}

/* navbar related style */
nav {
  display: flex;
  height: 130px;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo {
  display: flex;
  gap: 20px;
}
.nav-logo h2 {
  font-weight: 700;
  font-size: 2.8rem;
}
.nav-logo h2 span {
  color: #ff42a5;
}
.nav-des {
  display: flex;
  align-items: center;
  gap: 32px;
}
.nav-des div {
  display: flex;
  gap: 24px;
}
.nav-des p {
  font-weight: 500;
  font-size: 1.1rem;
  color: #3c354f;
}
.nav-des .nav-icon {
  width: 262px;
  height: 56px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/* play-section related style */
.play-section-container {
  display: flex;
  justify-content: space-between;
  background: #fff;
  gap: 24px;
}
.play-section {
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  width: 991px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 240px;
}
.play-section h2 {
  color: #0b0223;
  font-weight: 600;
  font-size: 2.8rem;
  text-transform: uppercase;
}
.play-section h3 {
  font-weight: 800;
  font-size: 6.1rem;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.play-section p {
  color: #534c64;
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 17px;
  padding: 0 30px;
}
.play-section-img {
  padding-right: 240px;
}
.play-section-img img {
  width: 100%;
  height: 100%;
}
.btn-container button {
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 48px;
  background: #4ec5f7;
  padding: 21px 40px;
  border: none;
}
.btn-container .btn {
  background: #ff42a5;
  margin-right: 24px;
}
.btn-container {
  margin-top: 24px;
}

/* online game related style */
.online-game-content {
  text-align: center;
  padding: 100px 20px 50px 20px;
}
.online-game-content h3 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
}
.online-game-content span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-game-content p {
  font-size: 1.2rem;
  color: #534c64;
  font-weight: 400;
  margin-top: 24px;
}
.online-game-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.online-game-card-container .card img {
  width: 342px;
  height: 400px;
}
.online-game-card-container .card p {
  width: 342px;
  margin: 20px 0;
}

/* play-instantly section related style */
.play-instantly-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 240px;
}
.play-instantly-content {
  margin: 0 auto;
}
.play-instantly-content span {
  color: #f948b2;
}
.play-instantly-content h3 {
  font-weight: 700;
  font-size: 3rem;
  width: 353px;
  text-align: right;
}
.play-instantly-content p {
  color: #534c64;
  width: 353px;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: right;
}
.play-instantly-img .im1 {
  width: 650px;
  height: 650px;
}
.relative-img .img2 {
  width: 318px;
  height: 365px;
  border-radius: 8px;
  position: relative;
  bottom: 250px;
  right: 145px;
}

/* for mobile devices */
@media screen and (max-width: 576px) {
  nav,
  .nav-des,
  .nav-des .nav-content {
    flex-direction: column;
  }
  nav {
    height: 100%;
    padding: 90px 0;
  }
  .nav-des {
    gap: 0;
  }
  .nav-des .nav-content {
    margin: 50px 0;
  }
  .play-section-container {
    flex-direction: column-reverse;
    width: 100%;
  }
  .play-section-img {
    padding: 0 50px;
    margin: 0 auto;
  }
  .play-section {
    width: auto;
    height: 100%;
    margin: 30px 20px;
    padding: 40px 20px;
    align-items: center;
  }
  .play-section h2 {
    font-size: 2.5rem;
  }
  .play-section h3 {
    font-size: 5rem;
  }
  .btn-container button {
    font-size: 1rem;
    padding: 15px 31px;
  }
  .btn-container .btn {
    margin-right: 15px;
    background-color: darkorange;
  }
  .online-game-card-container {
    flex-direction: column;
  }
  .play-instantly-content-container {
    flex-direction: column;
    padding: 30px 40px;
  }
  .play-instantly-content h3,
  .play-instantly-content p {
    width: 90%;
    text-align: left;
  }
  .play-instantly-img .img1 {
    width: 80%;
    margin-left: 100px;
  }

  .relative-img .img2 {
    width: 40%;
    height: 50%;
    border-radius: 8px;
    bottom: 120px;
    left: 20px;
  }
}

/* for tablet devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  /* navbar related */
  nav {
    flex-direction: column;
    height: auto;
    padding: 50px 0;
    gap: 24px;
  }
  .play-section-container {
    flex-direction: column;
  }
  .play-section {
    padding: 0;
    align-items: center;
    width: auto;
  }
  .play-section-img {
    padding: 0;
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
  .play-instantly-content-container {
    width: auto;
    padding: 40px 50px;
    gap: 24px;
  }
  .play-instantly-img .img1 {
    width: 80%;
  }
  .relative-img .img2 {
    width: 50%;
    height: 60%;
    bottom: 80px;
    right: 60px;
  }
  .play-instantly-content h3,
  .play-instantly-content p {
    text-align: left;
    width: 90%;
  }
}
